.bg-primary {
  background-color: #d4a373; /* Màu primary từ giao diện */
}

.text-primary {
  color: #d4a373; /* Màu chữ primary từ giao diện */
}

.bg-primary:hover {
  background-color: #b38b59; /* Màu khi hover */
}